# Ignore compiled binary
myprogram

# Ignore object files
*.o

# Ignore backup files from editors
*~

# Ignore directory for any IDE-related files (e.g., for VSCode, IntelliJ, etc.)
.vscode/
.idea/

# Ignore the directory for temporary files created by the OS
.DS_Store
Thumbs.db

test.asm
test.bin




*.d

*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
